<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head',{
    title : 'HOME'
}) %>
<body>
    <%- include('../partials/header') %>
    <!-- Main -->
    <div class="contenedor-grid">
    <main>
        <section class="grid-padre-produc">
            <% products.forEach(product => { %>
                <article class="productos product-grid-1">
                    <img src="/img/<%=product.image%>" alt="">
                    <div>
                        <h2> <%=product.name%> </h2>
                        <p><%=product.description%></p>
                        <a href="/products/detail/<%=product.id%>">ver mas</a>
                    </div>
                </article>
            <% }) %>
        </section>
    </main>
    <aside class="aside-tuto">
        <h2>tutoriales</h2>
        <section>
            <% tutorials.forEach(tutorials => { %>
                <article class="tutoriales">
                    <img src="/img/<%= tutorials.image %>" alt="">
                    <p><%= tutorials.name %></p>
                </article>
            <% }) %>
        </section>
    </aside>
    <aside class="aside-publi">
        <h2>Publicidad</h2>
        <section class="contenedor-publicidad">
            <picture class="publicidad">
                <img class="img-publicidad-1" src="/img/ad-01.jpg" alt="">
            </picture>
            <picture class="publicidad">
                <img src="/img/ad-02.jpg" alt="">
            </picture>
        </section>
    </aside>
    </div>
<!-- slider -->
    <div class="home__carousel">
        <div class="glider-contain" >
            <div class="glider">
                <% products.forEach(product => { %>
                    <div>
                        <article class="home__carousel__article">
                            <img src="/img/<%= product.image %>" alt="Imagen phone 1">
                        </article>
                    </div>
                <% }) %>
            </div>

            <div role="tablist" class="dots"></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="/javascripts/glider.js"></script>
    <script>
        window.addEventListener("load", function () {
            new Glider(document.querySelector(".glider"), {
                slidesToShow: 1,
                dots: '.dots',
                arrows: {
                    prev: '.glider-prev',
                    next: '.glider-next'
                },
                draggable: true,
                responsive: [
                    {
                        // screens greater than >= 775px
                        breakpoint: 768,
                        settings: {
                            // Set to `auto` and provide item width to adjust to viewport
                            slidesToShow: 3,
                            slidesToScroll: 1,
                            duration: 0.25,
                            /* itemWidth: 150, */

                        }
                    }, {
                        // screens greater than >= 1024px
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 4,
                            slidesToScroll: 1,
                            duration: 0.25,
                        }
                    }
                ]
            });
        });
    </script>
</body>
</html>